In [1]:
import numpy as np
import pandas as pd

In [2]:
#import and show CSV file
df = pd.read_csv('./CSV/group_data.csv')
df.head(5)

,Report Date,Group#,Group Zip,Medical Enroll Month/Day,Medical Enroll Year,Renewal Date,Term Date,Length (in months),Term Reason Code,Term Reason (numerical),...,Life Type,Vision,Vision Type,Sic Code,Waiting Period,Account Manager,Areas/Regions 1-19,EnrollmentDate,Medical Total # Deps (15-26),Status
0,3/1/2018,42772.0,92009.0,6/1/2018,2014.0,6/1/2017,5/31/2016,23,NP,1,...,NaN,NaN,NaN,8748.0,60.0,ASCHE,NaN,6/1/2014,NaN,TERMED
1,3/1/2018,42773.0,92270.0,6/1/2018,2014.0,6/1/2018,5/31/2017,35,NR,2,...,NaN,NaN,NaN,8093.0,30.0,NaN,NaN,6/1/2014,NaN,TERMED
2,3/1/2018,42774.0,90011.0,6/1/2018,2014.0,6/1/2018,NaN,52,NaN,3,...,NaN,NaN,NaN,3713.0,30.0,PLASC,NaN,6/1/2014,NaN,ACTIVE
3,3/1/2018,42775.0,91406.0,6/1/2018,2014.0,6/1/2015,12/31/2014,6,NP,1,...,NaN,NaN,NaN,1743.0,30.0,PLASC,NaN,6/1/2014,NaN,TERMED
4,3/1/2018,42777.0,91306.0,6/1/2018,2014.0,9/1/2018,8/31/2017,38,CH,4,...,NaN,NaN,NaN,8211.0,30.0,NaN,NaN,6/1/2014,NaN,TERMED

In [8]:
#clean up data to only show needed columns
clean_df = df.filter(['Group Zip','Current Renewal Rate Action', 'Length (in months)', 'Term Reason (numerical)','Medical Total Count','Sic Code'])
group_df = clean_df.dropna(how='any')
group_df.head(5)

,Group Zip,Current Renewal Rate Action,Length (in months),Term Reason (numerical),Medical Total Count,Sic Code
0,92009.0,7.0,23,1,0,8748.0
1,92270.0,0.4,35,2,0,8093.0
2,90011.0,17.6,52,3,36,3713.0
4,91306.0,9.3,38,4,0,8211.0
5,94401.0,10.9,52,3,1,8021.0

In [10]:
x = group_df.drop("Length (in months)", axis=1)
y = group_df["Length (in months)"]
print(x.shape, y.shape)

(160712, 5) (160712,)

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [21]:
from sklearn.preprocessing import StandardScaler

x_scaler = StandardScaler().fit(x_train)

In [22]:
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [23]:
from keras.utils import to_categorical

# One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [24]:
from keras.models import Sequential

model = Sequential()

In [41]:
from keras.layers import Dense
number_inputs = 5
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

In [42]:
number_classes = 2
model.add(Dense(units=number_classes, activation='softmax'))

In [44]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 4)                 16
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_5 (Dense)              (None, 4)                 12
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_7 (Dense)              (None, 4)                 12
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_9 (Dense)              (None, 4)                 12
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 10
=================================================================
Total params: 70
Trainable params: 70
Non-trainable params: 0
_________________________________________________________________

C:\Users\eric_\Anaconda3\lib\site-packages\keras\engine\training.py:490: UserWarning: Discrepancy between trainable weights and collected trainable weights, did you set `model.trainable` without calling `model.compile` after ?
  'Discrepancy between trainable weights and collected trainable'

In [45]:
# Use categorical crossentropy for categorical data and mean squared error for regression
# Hint: your output layer in this example is using software for logistic regression (categorical)
# If your output layer activation was `linear` then you may want to use `mse` for loss
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [46]:
# Fit (train) the model
model.fit(
    x_train_scaled,
    y_train_categorical,
    epochs=1000,
    shuffle=True,
    verbose=2
)

ValueError: Error when checking input: expected dense_3_input to have shape (3,) but got array with shape (5,)